<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simple Reporter Suite">
	<listeners>
		<listener class-name="com.qait.automation.hris.reports.CustomReporter" />
	</listeners>

	<test name="Simple Reporter test">
		<classes>
			<class name="com.qait.automation.hris.test.HRISAutomation" />
		</classes>
	</test>
</suite>

